body {
    background-color: #00ff22;
  }
  
  .jumbotron h1{
      color: #ff3333;
  
  }
  
  .jumbotron{
      padding-top: 1%;
      background-color:transparent !important;
  }
  
  img {
  margin-top: 5%;
    width: 15%;
  }
  
  .submitFont{
      color: green;
  }